
global
        maxconn 100
defaults
        log     global
        mode    tcp
        retries 2
        timeout client 30m
        timeout connect 4s
        timeout server 30m
        timeout check 5s
listen master
        bind *:5002
        balance leastconn
        option tcp-check
        server swarm-1 10.164.0.2:5000 check port 5000
        server swarm-2 10.164.0.3:5000 check
